matplotlib~=3.9.0
opencv-python~=4.11.0.86
torch~=2.5.1+cu118
torchvision~=0.20.0+cu118

requests~=2.32.3
transformers~=4.51.2
pillow~=10.4.0
ipython~=8.12.3
numpy~=1.26.4
scipy~=1.15.1
h5py~=3.13.0
httpx~=0.28.1
tqdm~=4.67.1
